<div class="elemento">
  
  <div class="cards">
    <div class="card red">
      <br>
      <iframe width="400" height="280" src="https://www.youtube.com/embed/uCM0knFul-g"
        title="FÍSICA: Concepto de TRABAJO, fórmula y ejemplos" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br>
    </div>
    <div class="card red">
      <br>
      <iframe width="400" height="280" src="https://www.youtube.com/embed/Xptwydr5jXc"
        title="TRABAJO Sin Rozamiento 🏋️‍♂️ Concepto, Fórmula y Problemas" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br>
    </div>
    <div class="card red">
      <br>
      <iframe width="400" height="280" src="https://www.youtube.com/embed/fuluizJfsok" title="Física - Trabajo Mecánico"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br>
    </div>
    <div class="card red">
      <br>
      <iframe width="400" height="280" src="https://www.youtube.com/embed/myv6Ii_J3kQ" title="Trabajo - Aplicación"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br>
    </div>
    <div class="card red">
      <br>
      <iframe width="400" height="280" src="https://www.youtube.com/embed/OzhBF0gMvSU"
        title="CONCEPTO DE TRABAJO EN FÍSICA, FÓRMULA, UNIDADES Y EJEMPLOS" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br>
    </div>
    <div class="card red">
      <br>
      <iframe width="400" height="280" src="https://www.youtube.com/embed/BYuOBkn9QwE"
        title="Trabajo Mecánico - Ejercicios Resueltos - Intro y Explicación" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <br>
    </div>
  </div>
</div>