<div class="elemento">
    <header class="text-center" style="font-size:45px; color:#168D9E;"><strong>Ejemplos Resueltos</strong></header><br>
    
    <div class="row">
        <div class="col">
            <div class="notifications-container">
                <div>
                    <br>
                    <strong>
                        <p>Calcular el trabajo que realiza la fuerza F sobre la distancia d.</p>
                        <p>Datos F = 15 N, θ = 35°, d = 2 m.</p>
                    </strong>
                    <img src="https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/image-Photoroom%20(1).png?alt=media&token=a9930fe3-34a1-4b7e-b374-65574987b684">
                </div>
                <div class="card">
                    <strong> Solución
                    </strong>
                    <span> 
                        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/image-Photoroom%20(2).png?alt=media&token=d117d16e-7148-461f-b643-81ba436b0495">
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="notifications-container">
                <div>
                    <br>
                    <strong>
                        <p>Calcular el trabajo que realiza la fuerza F y la fuerza de rozamiento FR sobre la distancia d.</p>
                        <p>Datos m = 10 kg, F = 100 N, θ = 35°, d = 10 m, μd = 0,1.</p>
                    </strong>
                    <img src="https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/image-Photoroom%20(3).png?alt=media&token=39b1309b-241a-4830-b1c3-327ea7956caa">
                </div>
                <div class="card">
                    <strong> Solución
                    </strong>
                    <span> 
                        <p>Calculamos el peso del bloque. Indicamos sólo su módulo:</p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/image-Photoroom%20(4).png?alt=media&token=27049563-16cc-4d5b-a7d0-5f402d864002">
                        <p>Calculamos el módulo de la fuerza normal, que en este caso es igual al peso ya que la superficie es horizontal y no hay otras fuerzas actuando.</p>
                        <p>N=P=98N</p>
                        <p>Calculamos el valor de la fuerza de rozamiento dinámico como el producto del coeficiente de rozamiento por la fuerza normal. También indicamos su módulo solamente.</p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/Captura%20de%20pantalla%202024-07-09%20220629.png?alt=media&token=51a95a9e-c1cc-4a47-87c9-921c91c441d3">    
                        <p>Finalmente calculamos el trabajo de las dos fuerzas.</p>
                        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/Captura%20de%20pantalla%202024-07-09%20220842.png?alt=media&token=a874b618-ff17-4ea2-aa00-f8b2f4f1860d">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
