<div class="elemento">
    <form class="form">
        <br>
        <p class="titulo">El trabajo</p>
        <p class="subtitulo">Introducción al Concepto de Trabajo</p>
        <p>El trabajo en física se define como la cantidad de energía transferida por una fuerza cuando esta actúa sobre
            un objeto y causa un desplazamiento en la dirección de la fuerza. Puedes empezar explicando esto de manera
            sencilla y usando ejemplos cotidianos para ilustrar el concepto.</p>
        <p class="subtitulo"> Definición y Fórmula</p>
        <p>Explica la fórmula matemática del trabajo realizado por una fuerza 𝑊:</p>
        <div style="text-align: center;">
            <p><strong>𝑊=𝐹⋅𝑑⋅cos(𝜃)</strong></p>
            <p>Donde:</p>
            <p><strong>𝐹=</strong> es la fuerza aplicada,</p>
            <p><strong>𝑑=</strong> es el desplazamiento del objeto,</p>
            <p><strong>θ=</strong> es el ángulo entre la fuerza aplicada y el desplazamiento.</p>
        </div>
        <p class="subtitulo">Unidades y Dimensiones</p>
        <p>Describe las unidades de medida del trabajo, que en el Sistema Internacional (SI) es el joule (J). Puedes
            compararlo con otras unidades comunes como el erg o la caloría.</p>
        <p class="subtitulo">Trabajo Positivo y Negativo</p>
        <p>Explica cómo el trabajo puede ser positivo, negativo o nulo dependiendo de la dirección del desplazamiento
            respecto a la fuerza aplicada. Utiliza ejemplos para clarificar este concepto.</p>
        <p class="subtitulo">Aplicaciones y Ejemplos</p>
        <p>Incluye ejemplos prácticos de trabajo en diferentes contextos:</p>
        <div style="margin-left: 10%;">
            <p>-Trabajo realizado por una fuerza constante.</p>
            <p>-Trabajo neto realizado por varias fuerzas.</p>
            <p>-Trabajo en el contexto de la energía cinética y potencial.</p>
        </div>

        <p class="subtitulo">Importancia y Aplicaciones Prácticas</p>
        <p>Discute la importancia del concepto de trabajo en diversas disciplinas como la física, la ingeniería, y la
            vida cotidiana. Menciona aplicaciones prácticas como el trabajo mecánico, eléctrico, y térmico.</p>

        <p class="subtitulo">Conclusión</p>
        <p>Resume los puntos clave sobre el concepto de trabajo y su relevancia, incentivando a los visitantes a
            explorar más sobre este tema fundamental en la física.

            Con esta estructura, puedes crear una página web educativa y accesible sobre el concepto de trabajo,
            utilizando ejemplos y explicaciones claras para hacerlo comprensible para tu audiencia.</p>
            <br>
    </form>
    <br><br><br><br><br>
</div>